.common{
    
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: chocolate;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.mainbody{
    background-color: beige;
}
.footer{
    height: 25px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
    font-size: 10px;
    line-height: 25px;
}
.video{
    background-color: beige;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover{
    background-color: gray;
}